.profile,
.personalInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.personalInfo {
  height: 182px;
}

.profile {
  margin: 27px 51px 13px 32px;
}

.profileCard {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.photo {
  margin-right: 30px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #111b42;
  margin-bottom: 11px;
}

.profileIcons img {
  margin-bottom: 13px;
  margin-right: 10px;
}

.subheader {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #111b42;
  margin-bottom: 8px;
}

.description {
  margin-top: 26px;
}

.profileContent {
  display: flex;
  flex-direction: column;
}

.profileContent {
  width: 414px;
  height: 196px;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #777f90;
}

.specialIcons {
  width: 182px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.worksheet {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.sheet {
  margin-bottom: 17px;
}

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 28px;
}

.job {
  margin-right: 39px;
}

.jobImage {
  margin-right: 13px;
}

.box {
  border: 1px solid #bdbdc7;
  box-sizing: border-box;
  border-radius: 34px;
  height: 24px;
  width: 197px;
  left: 323px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 11px;
}

.consult {
  width: 197px;
}

.coach {
  width: 84px;
}

.robot {
  width: 117px;
}

.circle {
  width: 8px;
  height: 8px;
  background: #f6d616;
  border-radius: 50%;
  margin-left: 9px;
  margin-right: 5px;
}

.yellow {
  background: #f6d616;
}

.red {
  background: #ed5338;
}

.lab {
  width: 223px;
  height: 40px;
  background: #4e8ef8;
  border-radius: 7px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.buttonText {
  margin-left: 17px;
}

.buttonImage {
  margin-right: 17px;
}
