* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: #e5e5e5;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: top;
}

.center {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

.navBar {
  margin-top: 17px;
  margin-left: 34px;
  margin-bottom: 38px;
}

.profileInfo {
  width: 1100px;
  height: 680px;
  background: #ffffff;
  border-radius: 16px 16px 16px 16px;
}
